
h1{
	display: block;
	font-size: 20px;
	margin:0 0 10px;
	font-weight: bold;
}

.container{
	width: 400px;
	margin: auto;
}


form label, form legend {

	display: block;
	font-size: 20px;
	margin:0 0 10px;
	
}
